* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #272B33;
}

.personagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.personagemposicao {
    border: 1px solid black;
    display: flex;
}